<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a class="navbar-brand mr-auto" href="/"><img src="assets/bhabha.jpg" height=30 width=40></a>            
    <div class="container">                
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto navbar-responsive">
                <li class="nav-item active"><a class="nav-link" href="/complaint"><span class="fa fa-th-list fa-lg"></span> Register Complain</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile"><span class="fa fa-user fa-lg"></span> My Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-address-card fa-lg"></span> Contact Us</a></li>
            </ul>
            <span class="navbar-text">
                <a href="/login">
                    <span class="fa fa-sign-in"></span> Log In  &nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                <a href="/signup">                
                    <span class="fa fa-user-plus"></span> Sign Up
                </a>
            </span>
        </div>
    </div>
</nav>
