<header class="header">    
    <nav class="navbar navbar-dark fixed-top navbar-expand-sm">
        <div class="container">               
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            &nbsp;&nbsp;
            <a class="navbar-brand mr-auto" href="/">
                <img  src="assets/logo.png" height=40 width=50 class="pl-0 ml-0"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto navbar-responsive">
                    <li class="nav-item active"><a class="nav-link" href="/complaint"><span class="fa fa-th-list fa-lg"></span> <b>Register Complaint</b></a></li>
                    <li class="nav-item active"><a class="nav-link" href="/profile"><span class="fa fa-user fa-lg"></span> <b>My Profile</b></a></li>
                    <li class="nav-item active"><a class="nav-link" href="#footer"><span class="fa fa-address-card fa-lg"></span><b> Contact Us</b></a></li>
                </ul>
                <span>
                    <a href="/login">
                        <span class="fa fa-sign-in"></span> <b>Log In</b>
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/signup">                
                        <span class="fa fa-user-plus"></span> <b>Sign Up</b>
                    </a>
                </span>
            </div>
        </div>
    </nav>    
</header>