<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/auth.css" />

    <link rel="icon" href="assets/logo.png" type="image/png">
    <title>Hostel Problems | Register Complaint</title>
</head>

<body>
    <section class="form">
        <div class="container">
            <div style="justify-content: center;" class="row">
                <div class="col-lg-8 px-5 pt-5">
                    <h2>Put the details here</h2>
                    <form class="Form my-4" method="POST"  action="/complains" onSubmit="alert('Thank you for using HosCo ,Your complain is registered successfully');">
                        <div class="form-row">
                            <div class="col-lg-8">
                                <input type="text" placeholder="Name" class="form-control my-3 p-2" name="name" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-8">
                                <input type="text" placeholder="Type Of Hostel" class="form-control my-3 p-2" name="typeofhostel" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-8">
                                <input type="number" placeholder="Room No." class="form-control my-3 p-2" name="RoomNo" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <select name="selectpicker">
                                <optgroup label="Select Table">
                                <option value="Electrical">Electrical</option>
                                <option value="Internet">Internet</option>
                                <option value="Washroom">Washroom</option>
                                <option value="Sanitation">Sanitation</option>
                            </optgroup>
                            </select>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-8">
                                <input type="text" placeholder="Description" class="form-control my-3 p-2" name="problem" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="number" placeholder="Phone No." class="form-control my-3 p-2" name="phone" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="email" placeholder="Email ID" class="form-control my-3 p-2" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-8">
                                <button type="submit" class="btn-1 mt-2 mb-5">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</body>

</html>