<!-- purple x moss 2020 -->
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    <link rel="icon" href="assets/logo.png" type="image/png">
    <title>404 Error</title>
    <style>
        
body {
  background-color: rgb(128,0,128,0.2);
}

.mainbox {
  background-color: rgb(128,0,128,0.2);
  margin: auto;
  height: 600px;
  width: 800px;
  position: relative;
}

  .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
  }

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

 .err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
  }

.msg {
    
    font-weight:inherit;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
  }

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
    </style>
  </head>
  <body>
    <div class="mainbox">
      <div class="err">4</div>
      <i class="far fa-question-circle fa-spin"></i>
      <div class="err2">4</div>
      <div class="msg justify-content-center pb-5 ">
          Please SignUp first ---> Let's go <a href="/Signup">Sign In </a>
          <br/>
         If your Account exists--->Let's go <a href="/login">Log In </a>
    </div>
             
      
      
        </div>
    </div>
    </body>
        </html>