.profile{
  margin-top: 180px;
}

.profile-img{    
    border-radius: 100%;
    height: 250px;
    width: 250px;
}

.card-header {
    padding: .75rem 1.25rem;    
    background-color: rgb(128, 0, 128, 0.9);
    border: 2px solid rgba(128, 0, 128, 0.3);
}
.card_body{
  background-color: rgb(128, 0, 128,.2);
  padding-left: 5px;
}