.header {
    border-radius: 15px;
    margin: 59px 20px 0px;
    padding: 29px 0;
    background: #999;
    color: floralwhite;
}

.navbar-dark {
    border-radius: 15px;  
    margin: 0px 20px;
    background-color: #444;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;  
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
    background-color: #444;
    margin: 0px 20px;
    padding: 20px 0px;
    border-radius: 15px;
}
}

address {
  font-size: 100%;
  margin: 0px;
  color: #fff;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; 
}

.body{    
    border-radius: 15px;
    background: #fda;
    margin: 0px 20px;
    padding: 20px 10px;
}